<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <ul class="books-info">
            {% for item in items.items %}
            <li>
                <p class="thumbnail">
                    <img src="{{item.volume_info.image_links.thumbnail}}" alt="{{item.volume_info.title}}">
                </p>
                <p class="title">
                    {{item.volume_info.title}}
                </p>
                <p class="author">
                    {{item.volume_info.authors}}
                </p>
                <p class="description">
                    {{item.volume_info.description}}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>