<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
</head>

<body>
    <div class="container">
        <div class="book-info-contents">
            <ul class="books-info">
                {% for item in items.items %}
                <li>
                    <div class="list-contents">
                        <p class="thumbnail">
                            {% if item.volume_info.image_links.thumbnail is defined %}
                            <img src="{{item.volume_info.image_links.thumbnail}}" alt="{{item.volume_info.title}}">
                            {% else %}
                            <img src="https://placehold.jp/128x200.png" alt="Default Image">
                            {% endif %}
                        </p>
                        <p class="title">
                            {{item.volume_info.title}}
                        </p>
                        <p class="author">
                            {{item.volume_info.authors}}
                        </p>
                        {% if item.volume_info.description is defined %}
                        <p class="description">
                            {{item.volume_info.description}}
                        </p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pagenation-contents">
            <ul class="pagenation">
                <li class="ch-button before">
                    <a href=""></a>
                </li>
                <li>1</li>
                <li>
                    <a href="/page/11">2</a>
                </li>
                <li>
                    <a href="/page/22">3</a>
                </li>
                <li>
                    <a href="/page/33">4</a>
                </li>
                <li>
                    <a href="/page/44">5</a>
                </li>
                <li class="ch-button after">
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>