<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
</head>

<body>
    <div class="container">
        <ul class="books-info">
            {% for item in items.items %}
            <li>
                <p class="thumbnail">
                    {% if item.volume_info.image_links.thumbnail is defined %}
                        <img src="{{item.volume_info.image_links.thumbnail}}" alt="{{item.volume_info.title}}">
                    {% else %}
                        <img src="https://placehold.jp/128x200.png" alt="Default Image">
                    {% endif %}
                </p>
                <p class="title">
                    {{item.volume_info.title}}
                </p>
                <p class="author">
                    {{item.volume_info.authors}}
                </p>
                {% if item.volume_info.description is defined %}
                    <p class="description">
                        {{item.volume_info.description}}
                    </p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>